h1 {
    background: cyan;
}

@media (max-width:800px) {
    #qrCodeImg {
        display: none;
    }

    /*hide QR code when its mobile size */
    h1 {
        background: lightgreen;
    }

    h1::after {
        content: "(mobile)";
    }
}
